ion-view(view-title='{{vm.neuron.title}}')
  .frame-back-btn
    .arrow.back-arrow(back-button image-url="images/back-arrow.png")
    .row.settings
      .panel-left.col-50
        h2 {{ ::'setting.settings' | translate }}
        .label
          h4 Level 1 2 3
        .row(ng-repeat="config in vm.preferences")
          .controll
            span {{ ::'content.kind.' + config.kind | translate }}
            input(type='range', min='1', max='3', step='1',
            value="{{config.level}}",
            ng-model="config.level",
            ng-change="vm.contentSettings(config)")
      .panel-right.col-50
        h2 {{ ::'setting.interests' | translate }}
        .label
          h4 {{ ::'setting.choose-interest' | translate }}
        .interests-list
          .row(ng-repeat='interest in vm.interests', ng-if='$index %3 === 0')
            .col.col-33(ng-if='$index < vm.interests.length')
              span.title {{vm.interests[$index].interest}}
              img(ng-src='{{vm.interests[$index].src}}',
                  ng-click="vm.selectInterest(vm.interests[$index])",
                  ng-class="{'interest-selected': vm.interests[$index].selected }")
            .col.col-33(ng-if='$index+1 < vm.interests.length')
              span.title {{vm.interests[$index+1].interest}}
              img(ng-src='{{vm.interests[$index+1].src}}',
                  ng-click="vm.selectInterest(vm.interests[$index+1])"
                  ng-class="{'interest-selected': vm.interests[$index+1].selected }")
            .col.col-33(ng-if='$index+2 < vm.interests.length')
              span.title {{vm.interests[$index+2].interest}}
              img(ng-src='{{vm.interests[$index+2].src}}',
                  ng-click="vm.selectInterest(vm.interests[$index+2])"
                  ng-class="{'interest-selected': vm.interests[$index+2].selected }")
