.tree.sixth-level
  .tree-img
    img(src="images/tree/level-6/arbol-gris-6.png")
    img.tree-root(src="images/tree/tronco.png")
    .tree-neuron-root
      a.neuron-root(ui-sref="neuron({neuronId: treeVm.neurons.root.id})")
      
    .tree-branch(ng-repeat="child in treeVm.neurons.root.children track by $index"
                ng-init="indexLevel2=$index"
                class="branch second-level-{{indexLevel2}} {{child.state}}  {{child.title}}")
      a.neuron(ui-sref="neuron({neuronId: child.id})" class="second-level-{{indexLevel2}} {{child.state}}")
               
      .tree-branch(ng-repeat="child1 in child.children track by $index" 
                    ng-init="indexLevel3=$index"
                    class="branch third-level-{{indexLevel2*2 + indexLevel3}} {{child1.state}} {{child1.title}}")
        a.neuron(ui-sref="neuron({neuronId: child1.id})" class="third-level-{{indexLevel2*2 + indexLevel3}} {{child.state}}")
                    
        .tree-branch(ng-repeat="child2 in child1.children track by $index" 
                      ng-init="indexLevel4=$index"
                      class="branch fourth-level-{{indexLevel3*4 + $parent.$index*6 + indexLevel4}} {{child2.state}} {{child2.title}}")
          a.neuron(ui-sref="neuron({neuronId: child2.id})" class="fourth-level-{{indexLevel3*4 + $parent.$index*6 + indexLevel4}} {{child.state}}")
          
          .tree-branch(ng-repeat="child3 in child2.children track by $index" 
                      ng-init="indexLevel5=$index"
                        class="branch fifth-level-{{indexLevel2}}{{indexLevel3}}{{indexLevel4}}{{indexLevel5}} {{child3.state}} {{child3.title}}")
            a.neuron(ui-sref="neuron({neuronId: child3.id})" class="fifth-level-{{indexLevel2}}{{indexLevel3}}{{indexLevel4}}{{indexLevel5}} {{child.state}}")
            
            .tree-branch(ng-repeat="child4 in child3.children track by $index" 
                        ng-init="indexLevel6=$index"
                          class="branch sixth-level-{{indexLevel2}}{{indexLevel3}}{{indexLevel4}}{{indexLevel5}}{{indexLevel6}} {{child3.state}} {{child3.title}}")
              a.neuron(ui-sref="neuron({neuronId: child4.id})" class="sixth-level-{{indexLevel2}}{{indexLevel3}}{{indexLevel4}}{{indexLevel5}}{{indexLevel6}} {{child.state}}")
