drawer(side="left")
  .sidebar-menu
    moi-arrow(on-click="toggleDrawer()" orientation="left")
    .settings-btns
      .settings-btn(ng-click="vm.onPlayAnimation(button.page)"
          ng-repeat="button in vm.buttonsOptions track by $index"
          class="btn-{{button.page}}-sidebar"
          ng-style="vm.cssOptions.styles['button_'+$index]"
          ng-mouseover="vm.increaseSize(true, vm.cssOptions, 'button_'+$index)"
          ng-mouseleave="vm.increaseSize(false, vm.cssOptions, 'button_'+$index)")
        img.icon(ng-src="{{button.icon}}")
        span.text
          | {{ button.translation | translate }}
    .settings-arbol.view-tree(ng-if="vm.user.tree_image")
      img.tree(ng-src="{{vm.user.tree_image}}")
    .settings-img-background(ng-if="vm.user.tree_image"
                            ng-click="vm.goToTree()"
                            tooltip-moi="{{ 'tooltip.tree' | translate }}"
                            tooltip-position="right")
