ion-view(
  view-title="{{ 'login' | translate }}",
  hide-nav-bar="true",
  class="login-view login"
)
  ion-content
    ui-view
    embed-video.tutorial-video(ng-if='vmLogin.embedVideo'
                data-ng-href='{{vmLogin.embedVideo}}'
                controls='1'
                width='100%'
                height='100%')
