.simple-button-wrapper(ng-click="vm.onClick(vm.options.key)"
                class="simple-btn-{{vm.options.key}}"
                tooltip-moi="{{vm.tooltip}}"
                tooltip-position="up")
  moi-sound(ng-if="vm.options.sound"
            sound="{{vm.options.sound}}"
            speed="vm.options.speedSound")
  .img-button(ng-style="vm.css"
               ng-mouseover="vm.increaseSize(true)"
               ng-mouseleave="vm.increaseSize(false)")
