ion-view.frame-basic(view-title='{{vm.neuron.title}}')
  div(ng-if="!vmTest.hideTest")
    ion-content
      .frame#test-frame
        .frame-container
          div(ng-if="!vmTest.hideQuestionTest")
            .widgets(ng-if="!vmTest.testComplete")
              .progress-bar
                .internal-bar(style="width: {{vmTest.percentage}}%")
                span {{vmTest.percentage}}%
              sound-button(ng-style="vmTest.cssOptions.styles[0]"
                image-url="images/exit-test.png"
                ng-click="vmTest.exit()"
                tooltip-moi="{{ 'tooltip.exit-test' | translate }}"
                tooltip-position="up"
                ng-mouseover="vmTest.increaseSize(true, vmTest.cssOptions, 0)"
                ng-mouseleave="vmTest.increaseSize(false, vmTest.cssOptions, 0)"
                label="{{ 'modal_launch_test.exit' | translate }}")
            .partial(ng-if="!vmTest.testComplete" ng-include="'templates/partials/test-questions.html'")
        .complete-test(ng-if="vmTest.testComplete" ng-include="'templates/finaltest/finaltest-complete.html'")
  .movies-container(ng-if="vmTest.hideTest")
    .container-loading
      .logo-loading
    moi-videos.vinetas(video-url="videos/creditos.mp4" video-type="video/mp4" callback="vmTest.finishedCredits()")
