ion-view.neuron-view(view-title='{{vmNeuron.neuron.title}}')
  ion-content
    moi-sound(sound="sounds/read_content.mp3" background-sound="true")
    .flecha-sidebar(ng-click="toggleDrawer()")
      img(src="images/flecha_1.png")
    .main-view
      .content-view
        grid-contents(options="vmNeuron.contentsOptions")
      .btns-options
        .btn-learn-container(ng-if="!vmNeuron.neuron.can_read")
          .btn-learn(ng-click="vmNeuron.showCanReadModal()")

        .btn-learn-container(ng-if="vmNeuron.neuron.can_read")
          .btn-learn(ng-if="!vmNeuron.showGifRead")
          gif-queue
            gif-no-loop.btn-learn-gif(src="images/btn_learn.gif"
                                      sound="sounds/btn_read.mp3"
                                      order="0"
                                      callback="vmNeuron.finishedAnimationRead()"
                                      loaded="vmNeuron.loadedGif('showGifRead')"
                                      clickgif="true"
                                      ng-class="{disabled: !vmNeuron.gifLearnActive}")
        .btn-search(ng-if="!vmNeuron.showGifSearch")
        gif-queue
          gif-no-loop.btn-search-gif(src="images/btn_search.gif"
                                    sound="sounds/btn_search.mp3"
                                    order="0"
                                    callback="vmNeuron.finishedAnimationSearch()"
                                    loaded="vmNeuron.loadedGif('showGifSearch')"
                                    clickgif="true")
  moi-sidebar
