ion-view(
  view-title="{{ 'register' | translate }}",
  hide-nav-bar="true",
  class="register-view"
)
  ion-content(scroll="false")
    .row.form-container.form-register
      form(ng-submit='registermodel.register()')
        .login-title
          | {{ ::'register' | translate }}
        .list.list-inset
          label.item.item-input
            input(
              type='text',
              ng-model='registermodel.registerForm.user',
              required='required',
              placeholder="{{ ::'register.user' | translate }}"
            )
          label.item.item-input
            input(
              type='number',
              ng-model='registermodel.registerForm.age',
              required='required',
              placeholder="{{ ::'register.age' | translate }}"
            )
            
        .list.list-inset
          label.item.item-input
            input(
              type='password',
              ng-model='registermodel.registerForm.password',
              required='required',
              placeholder="{{ ::'register.password' | translate }}"
            )
          label.item.item-input
            input(
              type='text',
              ng-model='registermodel.registerForm.city',
              required='required',
              placeholder="{{ ::'register.city' | translate }}"
            )
            
        .list.list-inset
          label.item.item-input
            input(
              type='password',
              ng-model='registermodel.registerForm.confirm_password',
              required='required',
              placeholder="{{ ::'register.confirm_password' | translate }}"
            )
          label.item.item-input
            input(
              type='text',
              ng-model='registermodel.registerForm.country',
              required='required',
              placeholder="{{ ::'register.country' | translate }}"
            )
            
        .list.list-inset
          label.item.item-input
            input(
              type='email',
              ng-model='registermodel.registerForm.email',
              required='required',
              placeholder="{{ ::'register.email' | translate }}"
            )

        .row.button-actions
          .col
            input(
              type='submit',
              value="{{ ::'register.enter' | translate }}"
            ).button
