ion-view#test-frame(view-title='{{vm.neuron.title}}')
  ion-content
    .frame-container
      div(ng-if="!vmTest.hideTest")
        .widgets
          .progress-bar
            .internal-bar(style="width: {{vmTest.percentage}}%")
            span {{vmTest.percentage}}%
          sound-button.btn-exit(ng-style="vmTest.cssOptions.styles[0]"
            image-url="images/exit-test.png"
            ng-click="vmTest.exit(true)"
            tooltip-moi="{{ 'tooltip.exit-test' | translate }}"
            tooltip-position="up"
            ng-mouseover="vmTest.increaseSize(true, vmTest.cssOptions, 0)"
            ng-mouseleave="vmTest.increaseSize(false, vmTest.cssOptions, 0)"
            label="{{ 'modal_launch_test.exit' | translate }}")
        .question-test(ng-include="'templates/partials/test-questions.html'")
    moi-frame(options="vmTest.frameOptions")
  .loading.loading-gif.big(
    ng-if="vmTest.isCheckingResultTest"
  )
