.modal.transparent
  ion-pane.transparent.event-modal-list
    h1.title
      | {{ ::'tasks.events.title' | translate }}
    .modal-event-list
      .btn-close-modal(ng-click="::model.closeModal()")
      .event-list(ng-if="model.hasEvents")
        .event.superevent(ng-if="!superevent.taken"
              ng-repeat="superevent in model.superevent track by $index"
              ng-click="model.showSuperEventDetails(superevent)")
          .event-image(style="background-image: url('{{superevent.image}}')")
          h4.event-title
            | {{::superevent.title}}
          span.event-description
            | {{::superevent.description}}
        .event(ng-class="{taken: event.taken}"
              ng-repeat="event in model.events track by $index"
              ng-if="event.is_available"
              ng-click="model.showEventDetails($index, model.events)")
          div.event-image(style="background-image: url('{{event.image}}')")
          h4.event-title
            | {{::event.title}}
          span.event-description
            | {{::event.description}}
      .placeholder(ng-if="!model.hasEvents")
        | {{ ::'tasks.events.hasEvents' | translate}}

