.modal.transparent
  ion-pane.transparent
    .modal-chat
      .btn-close-modal(ng-click="model.closeModal()"
                      tooltip-moi="{{ 'tooltip.close' | translate }}"
                      tooltip-position="up")
      .chat-container
        .preview-chat
          .message(ng-repeat="message in model.messages track by $index")
            .separator(ng-if="model.isSameDay(model.messages[$index-1].created_at, message.created_at)")
              {{message.created_at | date: 'EEEE d, MMMM' }}
            .message-container(ng-class="message.kind")
              .date(ng-if="message.kind === 'outgoing'" ng-class="message.kind")
                {{message.created_at | date: 'h:mm a' }}
              .text {{message.message}}
              .date(ng-if="message.kind === 'incoming'" ng-class="message.kind")
                {{message.created_at | date: 'h:mm a' }}

        .box-chat
          form(ng-submit='model.sendChat()')
            label.item.item-input
              input(type='text',
                    required='required',
                    ng-model='model.message',
                    placeholder="Mensaje...")
            input(
                type='submit',
                value='Enviar'
              ).button
