.modal.transparent
  ion-pane.transparent
    .modal-certificate(ng-class="{'with-frame': !model.certificate}")
      .btn-close-modal(ng-click="model.close(model.resultFinalTest)"
                      tooltip-moi="{{ 'tooltip.close' | translate }}"
                      tooltip-position="up"
                      data-html2canvas-ignore="true")
      .background-certificate(ng-if="!model.certificate")
        .title
          | {{ 'modal_certificate.title' | translate }}
        .container
          .info-user
            .table
              .row
                | {{model.user.username}}
              .row
                .column.space-btwn
                  | {{model.user.age}}
                  span
                    | {{ 'register.age' | translate }}
                .column.space-btwn
                  | {{model.user.country}}
                  span
                    | {{ 'register.country' | translate }}
              .row
                .column
                  | {{model.user.school}}
                  span
                    | {{ 'register.school' | translate }}
            .tree-preview
              img.marco(src="images/view-elements/frame-login.png")
              img(ng-src="{{model.user.tree_image}}")
          .report-user
            #canvas-holder
              canvas#chart-area
            .advance
              .title
                | {{model.totalContentsLearnt}} {{ 'modal_certificate.contents' | translate }}
              .subtitle
                | {{model.progressTree}}% {{ 'modal_certificate.progress' | translate }}
            .grade
              .percentage
                | {{model.resultFinalTest}}% {{ 'modal_certificate.test' | translate }}
              .timeContainer
                .time
                  | {{model.timeOfReading}}
                .label
                  | {{ 'modal_certificate.tiempo' | translate }}
          span.website-info
            | {{ 'modal_certificate.informacion' | translate }}
      img.certificate-image(ng-if="model.certificate" ng-src="{{::model.certificate}}")
      .btn-shared-certificate(ng-click="model.sharedCertificate(model.certificate)"
                              tooltip-moi="{{ 'tooltip.compartir' | translate }}"
                              tooltip-position="up"
                              data-html2canvas-ignore="true")
