.modal.transparent
  ion-pane.transparent
    .modal-certificate
      .btn-close-modal(ng-click="model.closeModal(); model.close(model.resultFinalTest)"
                      tooltip-moi="{{ 'tooltip.close' | translate }}"
                      tooltip-position="up")
      .background-certificate(ng-if="!model.certificate")
        .title
          img(src="images/diploma/title.png")
        .container
          .info-user
            .table
              .row
                | {{model.user.username}}
              .row
                .column.space-btwn
                  | {{model.user.age}}
                  span
                    | Age
                .column.space-btwn
                  | {{model.user.country}}
                  span
                    | Country
              .row
                .column
                  | {{model.user.school}}
                  span
                    | School
            .tree-preview
              img.marco(src="images/view-elements/marco.png")
              img(ng-src="{{model.user.tree_image}}")
          img(src="images/diploma/niños.png")
          .report-user
            #canvas-holder
              canvas#chart-area
            .advance
              .title
                | {{model.totalContentsLearnt}} Content Learned
              .subtitle
                | {{model.progressTree}}% Progress Tree
            .grade
              .percentage
                | {{model.resultFinalTest}}% Final Test
              .timeContainer
                .time
                  | {{model.timeOfReading}}
                .label
                  | Average read time
          span.website-info
            | For more, visit growmoi.com
      img.certificate-image(ng-if="model.certificate" ng-src="{{model.certificate}}")
      .btn-shared-certificate(ng-if="model.certificate"
                              ng-click="model.sharedCertificate(model.certificate)"
                              tooltip-moi="{{ 'tooltip.compartir' | translate }}"
                              tooltip-position="up")
