.test-container
  .row(ng-repeat="question in vmTest.questions",
      ng-class="question.isClass ? 'big-question' : 'minor-question'"
      ng-show="question.showQuestion")
    .main-image.col
      img(ng-src="{{question.media_url}}")
    .question.col-50
      .test
        h1 {{question.title}}
        .answer(ng-repeat="answer in question.possible_answers track by $index",
                ng-class="{'answer-selected': answer.selected}",
                ng-style="vmTest.cssOptions.styles[$index+2]"
                ng-click="vmTest.selectAnswer(question.content_id, answer)"
                tooltips
                tooltip-template="{{ 'tooltip.alternativa' | translate }}"
                tooltip-side="up"
                ng-mouseover="vmTest.increaseSize(true, vmTest.cssOptions, $index+2)"
                ng-mouseleave="vmTest.increaseSize(false, vmTest.cssOptions, $index+2)")
          h4 {{answer.text}}
    .pista.col
      span
.controls
  sound-button(ng-style="vmTest.cssOptions.styles[1]"
            image-url="images/next-test.png"
            ng-click="vmTest.next()"
            tooltip-moi="{{ 'tooltip.question' | translate }}"
            tooltip-position="up"
            ng-mouseover="vmTest.increaseSize(true, vmTest.cssOptions, 1)"
            ng-mouseleave="vmTest.increaseSize(false, vmTest.cssOptions, 1)"
            label="{{ 'modal_launch_test.next' | translate }}")
