ion-view.content-view-max(view-title='Content')
  ion-content
    moi-sound(sound="sounds/read_content.mp3" background-sound="true")
    .arrow.back-arrow(back-button image-url="images/back-arrow.png")
    .flecha-sidebar(ng-click="toggleDrawer()")
      img(src="images/flecha_1.png")
    .main-content-view
      .row.content-max-view
        .col
          .row.border-bottom.row-content-title
            .content-title {{vmContent.content.title}}
            .corner.title-TR
          .row.row-content-text
            .corner.description-TL
            .content-text
              {{vmContent.content.description}}
              a.content-source(href='#')
                {{vmContent.content.source}}
            .corner.description-TR
        .col.border-right.border-left.middle-column-margin-bottom
          .row.border-bottom
            .col.image-center
              img.format-image(src='{{vmContent.content.media[0]}}', ng-click='vmContent.showImage(vmContent.content.media[0])')
            .corner.image-TR
          .row
            .col
              .row.text-notes
                .content-subtitle {{ ::'content.max.coments' | translate }}
              .row
                textarea.content-comments(ng-model='vmContent.content.user_notes', ng-blur='vmContent.sendNotes()')
        .col
          .row
            .col
              .row.border-bottom
                .content-subtitle-gallery {{ ::'content.max.media' | translate }}
              .row
                slide-gallery(images='vmContent.media', item-per-slide='4')
            .corner.gallery-TR
          .row
            .col.recomended-margin-top
              .row.border-bottom
                .content-subtitle {{ ::'content.max.recommended ' | translate }}
              .row.recommended-contents
                .col.col-50(ng-repeat='content in vmContent.content.recommended')
                  .content-kind-contents(ui-sref="content({neuronId: content.neuron_id, contentId: content.id})")
                   img.format-image(ng-src='{{content.media[0]}}')
                   .leyend-bottom {{content.title}}
            .corner.recomended-TR
          .row
            .col.links-margin-top
              .row.border-bottom
                .content-subtitle {{ ::'content.max.links ' | translate }}
              .row(ng-repeat="link in vmContent.content.links")
                a(href='{{::link}}' target='_blank') {{::link}}
            .corner.links-TR
      .btns-options
        .btn-learn(ng-if="!vmContent.showGifRead")
        gif-queue
          gif-no-loop.btn-learn-gif(src="images/btn_learn.gif"
                                    sound="sounds/btn_read.mp3"
                                    order="0"
                                    callback="vmContent.finishedAnimationRead()"
                                    loaded="vmContent.loadedGif('showGifRead')"
                                    clickgif="true"
                                    ng-class="{disabled: vmContent.content.read}")
        .btn-search(ng-if="!vmContent.showGifSearch")
        gif-queue
          gif-no-loop.btn-search-gif(src="images/btn_search.gif"
                                    sound="sounds/btn_search.mp3"
                                    order="0"
                                    callback="vmContent.finishedAnimationSearch()"
                                    loaded="vmContent.loadedGif('showGifSearch')"
                                    clickgif="true")
  moi-sidebar
