ion-view.content-view-max(view-title='Content')
  ion-content
    back-button.arrow.back-arrow
    .flecha-sidebar(ng-click="toggleDrawer()")
      img(src="images/flecha_1.png")
    .frame
      .row.frame-container
        .col.first-col-content
          .row.border-bottom.row-content-title
            .content-title
              {{  vmContent.content.title}}
              {{ vmContent.test }}
              img.favorite(ng-if="vmContent.content.favorite" src="images/estrellita.png")
          .row.row-content-text
            .content-text
              {{vmContent.content.description}}
              .content-source
                {{vmContent.content.source}}
              .content-update
                .legend-update{{ 'content.max.update' | translate }}
                .update-date{{vmContent.content.updated_at | date:'dd-MM-yyyy'}}
              .test-content
        .col.second-col-content.border-right.border-left.middle-column-margin-bottom.col-contents
          .row.border-bottom.principal-img
            .col.image-center
              img.format-image(
                ng-class="vmContent.currentTransition"
                ng-src='{{vmContent.currentContentImageUrl}}',
                ng-click='vmContent.showImage(vmContent.currentContent)'
              )
          .row
            .col
              .row.text-notes
                .content-subtitle
                  | {{ 'content.max.coments' | translate }}
              .row.container-comments
                textarea.content-comments(ng-model='vmContent.content.user_notes'
                                          ng-blur='vmContent.sendNotes()'
                                          ng-disabled='vmContent.readOnly')
        .col.third-col-content
          .row
            .col.content-max-third
              .row.border-third-column
                .content-subtitle.content-subtitle-gallery
                  | {{ 'content.max.media' | translate }}
              .row
                slide-gallery.slider-gallery-content(images='vmContent.media'
                                                    options="vmContent.slideGalleryOptions"
                                                    item-per-slide='4')
          .row
            .col.recomended-margin-top.content-max-third
              .row.border-third-column
                .content-subtitle
                  | {{ 'content.max.recommended ' | translate }}
              .row.recommended-contents
                .col.col-50(ng-repeat='content in vmContent.content.recommended')
                  .content-kind-contents(ui-sref="content({neuronId: content.neuron_id, contentId: content.id})"
                    ng-click="vmContent.registerClick(content.title)"
                    tooltips
                    tooltip-template="{{content.title}}"
                    tooltip-side="top")
                   img.format-image(ng-src='{{content.media[0]}}')
          .row
            .col.links-margin-top.content-max-third
              .row.border-third-column
                .content-subtitle
                  | {{ 'content.max.links ' | translate }}
              .row(ng-repeat="link in vmContent.content.links")
                a(ng-click="vmContent.showAlertExternalLink(link)")
                  | {{ link}}
    moi-frame(options="vmContent.frameOptions")
    moi-buttons(options="vmContent.buttonsOptions")
  moi-sidebar
